In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#import the API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()
len(city_data_df)

551

In [3]:
city_data_df.loc[(city_data_df["Max Temp"] < 0.0 ) ,"Max Temp"]= 0.0
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bollnas,SE,2022-01-21 01:45:37,61.3482,16.3946,28.38,56,0,15.48
1,1,Manacor,ES,2022-01-21 01:45:37,39.5696,3.2096,42.51,81,4,3.60
2,2,Albert Lea,US,2022-01-21 01:45:38,43.6480,-93.3683,0.00,84,0,0.00
3,3,Burnie,AU,2022-01-21 01:45:38,-41.0667,145.9167,70.95,60,3,7.23
4,4,Torbay,CA,2022-01-21 01:45:38,47.6666,-52.7314,44.58,94,100,18.41

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=75
max_temp=90
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find teh cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Hilo,US,2022-01-21 01:45:39,19.7297,-155.0900,77.79,82,100,10.36
11,11,Puerto Ayacucho,VE,2022-01-21 01:45:40,5.6639,-67.6236,83.71,53,97,3.18
20,20,Faanui,PF,2022-01-21 01:45:42,-16.4833,-151.7500,81.59,74,100,18.79
31,31,Oistins,BB,2022-01-21 01:45:44,13.0667,-59.5333,77.09,78,40,20.71
33,33,Hobart,AU,2022-01-21 01:41:24,-42.8794,147.3294,82.27,41,20,1.01
...,...,...,...,...,...,...,...,...,...,...
522,522,Hervey Bay,AU,2022-01-21 01:58:41,-25.2986,152.8535,79.03,71,45,26.71
527,527,Palmares Do Sul,BR,2022-01-21 01:58:42,-30.2578,-50.5097,77.34,87,40,11.61
535,535,Isangel,VU,2022-01-21 01:58:44,-19.5500,169.2667,84.31,84,75,4.61
545,545,Caravelas,BR,2022-01-21 01:58:47,-17.7125,-39.2481,75.15,92,0,4.34
548,548,Lumut,MY,2022-01-21 01:58:48,4.2323,100.6298,79.16,94,20,2.30

In [20]:
preferred_cities_df.count()

City_ID       111
City          111
Country       111
Date          111
Lat           111
Lng           111
Max Temp      111
Humidity      111
Cloudiness    111
Wind Speed    111
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
8              Hilo      US     77.79  19.7297 -155.0900
11  Puerto Ayacucho      VE     83.71   5.6639  -67.6236
20           Faanui      PF     81.59 -16.4833 -151.7500
31          Oistins      BB     77.09  13.0667  -59.5333
33           Hobart      AU     82.27 -42.8794  147.3294
35            Kapaa      US     80.11  22.0752 -159.3190
38    Cockburn Town      TC     78.76  21.4612  -71.1419
39          Culebra      PR     78.84  18.3030  -65.3010
40      New Norfolk      AU     81.91 -42.7826  147.0587
49          Rikitea      PF     78.82 -23.1203 -134.9692

In [33]:
# Iterate through the DataFrame.
params = {
    "radius":5000,
    "types":"lodging",
    "key":g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Hilo,US,77.79,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Puerto Ayacucho,VE,83.71,5.6639,-67.6236,Posada Turistica Manapiare
20,Faanui,PF,81.59,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
31,Oistins,BB,77.09,13.0667,-59.5333,Butterfly Beach Hotel
33,Hobart,AU,82.27,-42.8794,147.3294,Mantra on Collins Hobart
...,...,...,...,...,...,...
522,Hervey Bay,AU,79.03,-25.2986,152.8535,Shelly Bay Resort
527,Palmares Do Sul,BR,77.34,-30.2578,-50.5097,Restaurante e Pensão Lopes
535,Isangel,VU,84.31,-19.5500,169.2667,Tanna Lodge
545,Caravelas,BR,75.15,-17.7125,-39.2481,Pousada dos Navegantes
548,Lumut,MY,79.16,4.2323,100.6298,"Marina Island Pangkor Resort & Hotel (Suites, ..."

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]