## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sayama,JP,35.8530,139.4121,47.05,26,0,0.00,clear sky
1,1,Poum,NC,-20.2333,164.0167,80.78,81,69,7.00,broken clouds
2,2,Kropotkin,RU,45.4375,40.5756,31.91,99,100,7.02,snow
3,3,Severo-Kurilsk,RU,50.6789,156.1250,30.06,86,99,3.20,light snow
4,4,Georgetown,MY,5.4112,100.3354,85.93,71,20,5.75,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Poum,NC,-20.2333,164.0167,80.78,81,69,7.00,broken clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.62,76,47,11.99,scattered clouds
6,6,Hilo,US,19.7297,-155.0900,75.79,81,1,1.01,clear sky
8,8,Kapaa,US,22.0752,-159.3190,79.12,70,0,3.00,clear sky
13,13,Acarau,BR,-2.8856,-40.1200,78.58,80,66,7.58,broken clouds
...,...,...,...,...,...,...,...,...,...,...
661,661,Chinchani,IN,19.8667,72.7000,75.96,76,30,8.81,scattered clouds
664,664,Ciudad Bolivar,VE,8.1222,-63.5497,75.29,84,47,11.88,scattered clouds
671,671,Nisia Floresta,BR,-6.0911,-35.2086,79.18,79,96,4.34,overcast clouds
683,683,Lakes Entrance,AU,-37.8811,147.9810,84.58,63,0,10.74,clear sky
690,690,Cabedelo,BR,-6.9811,-34.8339,77.67,75,22,9.08,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 1 to 690
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              139 non-null    int64
 1   City                 139 non-null    object
 2   Country              138 non-null    object
 3   Lat                  139 non-null    float64
 4   Lng                  139 non-null    float64
 5   Max Temp             139 non-null    float64
 6   Humidity             139 non-null    int64
 7   Cloudiness           139 non-null    int64
 8   Wind Speed           139 non-null    float64
 9   Current Description  139 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 11.9+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 1 to 690
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              138 non-null    int64
 1   City                 138 non-null    object
 2   Country              138 non-null    object
 3   Lat                  138 non-null    float64
 4   Lng                  138 non-null    float64
 5   Max Temp             138 non-null    float64
 6   Humidity             138 non-null    int64
 7   Cloudiness           138 non-null    int64
 8   Wind Speed           138 non-null    float64
 9   Current Description  138 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 11.9+ KB

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,80.78,broken clouds,-20.2333,164.0167,
5,Rikitea,PF,78.62,scattered clouds,-23.1203,-134.9692,
6,Hilo,US,75.79,clear sky,19.7297,-155.0900,
8,Kapaa,US,79.12,clear sky,22.0752,-159.3190,
13,Acarau,BR,78.58,broken clouds,-2.8856,-40.1200,
20,Hithadhoo,MV,81.37,overcast clouds,-0.6000,73.0833,
21,Vaini,TO,80.69,broken clouds,-21.2000,-175.2000,
30,Kavieng,PG,83.48,moderate rain,-2.5744,150.7967,
33,Arraial Do Cabo,BR,75.24,clear sky,-22.9661,-42.0278,
41,Cockburn Town,TC,78.31,clear sky,21.4612,-71.1419,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"]=np.nan
hotel_df.info()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 1 to 690
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 138 non-null    object
 1   Country              138 non-null    object
 2   Max Temp             138 non-null    float64
 3   Current Description  138 non-null    object
 4   Lat                  138 non-null    float64
 5   Lng                  138 non-null    float64
 6   Hotel Name           134 non-null    object
dtypes: float64(3), object(4)
memory usage: 12.7+ KB

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.replace(r'^\s*$', np.NaN, regex=True)
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Poum,NC,80.78,broken clouds,-20.2333,164.0167,Gîte kajeon
5,Rikitea,PF,78.62,scattered clouds,-23.1203,-134.9692,People ThankYou
6,Hilo,US,75.79,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Kapaa,US,79.12,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Acarau,BR,78.58,broken clouds,-2.8856,-40.1200,castelo pizzaria
...,...,...,...,...,...,...,...
661,Chinchani,IN,75.96,scattered clouds,19.8667,72.7000,Vasantshrushti Farm
664,Ciudad Bolivar,VE,75.29,scattered clouds,8.1222,-63.5497,Hotel Edi
671,Nisia Floresta,BR,79.18,overcast clouds,-6.0911,-35.2086,Rancho Crepusculo
683,Lakes Entrance,AU,84.58,clear sky,-37.8811,147.9810,The Esplanade Resort & Spa
690,Cabedelo,BR,77.67,few clouds,-6.9811,-34.8339,Hotel Pigalle

In [11]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
# Get the maximum temperature.
max_temp = clean_hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))